pyrogram
pytube
telegraph
heroku3
aiohttp
aiofiles
hachoir
Pillow
bs4
covid
pySmartDL
psycopg2
SQLAlchemy==1.3.23
TgCrypto
httpx
pytz
CurrencyConverter
deep-translator==1.8.3
gTTS
git-python
Wikipedia-API
qrcode
bing-image-downloader
pyfy
cinemagoer
moviepy
apscheduler
youtube-dl
